DOMAIN=
EMAIL=
PGID=1005
PUID=
STORAGE_DIR=
HASS_MYSQL_PASSWORD=
MQTT_TEST_USER_NAME=
MQTT_TEST_USER_PASSWORD=
TZ=
GAME_SERVER_PASSWORD=
MEDIA_USER=
MEDIA_PASSWORD=
PHOTOPRISM_DATABASE_ROOT_PASSWORD=
PHOTOPRISM_DATABASE_PASSWORD=
WEBDAV_USER=
WEBDAV_PASSWORD=
THE_FOREST_ACCOUNT_TOKEN=
CONAN_SERVER_PASSWORD=
CONAN_ADMIN_PASSWORD=
