homeassistant: true
permit_join: false
mqtt:
  base_topic: homeassistant
  server: 'mqtt://domain.foo.com'
  user: zigbee2mqtt
  password: 'password'
serial:
  port: /dev/ttyACM0
devices: devices.yaml
