debug = true
#loglevel = "ERROR"

defaultEntryPoints = ["https", "http"]

[entryPoints]
    [entryPoints.http]
    address = ":80"
        [entryPoints.http.redirect]
        entryPoint = "https"
    [entryPoints.https]
    address = ":443"
        [entryPoints.https.tls]
    [entryPoints.api]
    address = ":8081"

[api]
entryPoint = "api"
dashboard = false

[retry]

[docker]
watch = true
exposedByDefault = false

[acme]
storage = "/acme/acme.json"
entryPoint = "https"
onHostRule = true

# Use the staging server to test new configs without hitting rate limits
#caServer = "https://acme-staging-v02.api.letsencrypt.org/directory"

# Use TLS challenge to generate individual certs
[acme.tlsChallenge]

# Used for wildcard DNS
#[acme.dnsChallenge]
#    provider = "cloudflare"

# Manually added servers
[file]
    [frontends]
        [frontends.backups]
        backend = "backups"
        passHostHeader = true
            [frontends.backups.routes.route0]
            rule = "Host:backups.dray.id.au"
        [frontends.hass]
        backend = "hass"
        passHostHeader = true
            [frontends.hass.routes.route0]
            rule = "Host:hass.dray.id.au"

    [backends]
        [backends.backups]
            [backends.backups.servers.server0]
            url = "http://192.168.1.15:8200"
        [backends.hass]
            [backends.hass.servers.server0]
            url = "http://192.168.1.15:8123"
